body.dark-theme {
  background-color: #40414e;
  color: #ffc000;
}

body.dark-theme a {
  color: #ffc000;
  border-bottom: 2px solid #ffc000;
}

body.dark-theme .link-active {
  border: 2px solid #ffc000;
}

body.dark-theme input {
  border-color: #ffc000;
  color: #ffc000;
}

body.dark-theme input::placeholder {
  color: #ffc000;
}

body.dark-theme input:focus,
body.dark-theme input:hover {
  border: 2px solid #ffc000;
}

body.dark-theme .hackerman-section,
body.dark-theme .padawan-section {
  border: 2px solid #ffc000;
}

body.dark-theme .hackerman-section img,
body.dark-theme .padawan-section img {
  content: url("../img/hackerman-dark.png");
}