@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
  --border-width: 2px;
  --breakpoint: 680px;
}

.light-theme {
  --background-color: #ffc000;
  --text-color: #40414e;
  --border-color: #40414e;
}

.dark-theme {
  --background-color: #40414e;
  --text-color: #ffc000;
  --border-color: #ffc000;
}

body {
  font-family: 'Fira Code', monospace;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
  border-bottom: var(--border-width) solid var(--text-color);
}

.link-active {
  border: var(--border-width) solid var(--text-color);
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

input {
  border: none;
  border-bottom: var(--border-width) solid var(--border-color);
  color: var(--text-color);
  outline: none;
}

input:focus,
input:hover {
  border: var(--border-width) solid var(--border-color);
}

input::placeholder {
  color: var(--text-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .theme-switch {
  width: 24px;
  height: 24px;
  border: var(--border-width) solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

main {
  padding: 50px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

footer img {
  width: 200px;
  height: 200px;
}

footer p {
  border: var(--border-width) solid var(--border-color);
  padding: 20px;
}

.hackermans-tip,
.padawans-playground {
  position: relative;
  border: var(--border-width) solid var(--border-color);
  margin-top: 25px;
  margin-bottom: 5px;
}

.hackermans-tip h3,
.padawans-playground h3 {
  font-style: italic;
}

.hackermans-tip::before,
.padawans-playground::before {
  content: '';
  position: absolute;
  left: 20%;
  top: 0;
  width: 20px;
  height: 20px;
  background-image: url('../images/hackerman-light.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.dark-theme .hackermans-tip::before,
.dark-theme .padawans-playground::before {
  background-image: url('../images/hackerman-dark.png');
}

@media screen and (min-width: var(--breakpoint)) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  footer img {
    order: 1;
  }

  footer p {
    order: 2;
  }
}