# .gitignore

node_modules/
public/
resources/
.DS_Store
*.log
*.swp
*.bak
*.tmp
*.sublime-project
*.sublime-workspace
*.tmproj
*.tmproject
*.komodoproject
*.idea
*.iml
*.cache
*.pyc
*.pyo
*.egg-info/
dist/
build/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
_site/
.surge/
.gh-pages/
vendor/bundle/
vendor/cache/
vendor/gems/
vendor/ruby/