<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevSparks - Home</title>
    <link href="/css/tailwind.css" rel="stylesheet">
    <script src="/remark42/script.js"></script>
</head>
<body class="font-mono">
    {{ define "header" }}
    <header class="flex flex-col items-center justify-between py-4 px-4 bg-ffc000 text-white">
        <nav class="flex justify-between w-full max-w-screen-lg items-center">
            <div>
                <a href="/">
                    <h1>DevSparks</h1>
                </a>
            </div>
            <div class="flex items-center">
                <a href="/">Home</a>
                <a href="/hacks">Hacks</a>
                <div class="relative">
                    <input type="text" placeholder="Search" class="bg-white rounded-full py-1 pr-4 pl-8 focus:outline-none focus:shadow-outline">
                    <button type="submit" class="absolute inset-y-0 right-0 top-0 mt-1 mr-2">
                        <svg viewBox="0 0 24 24" class="h-4 w-4 fill-current">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9707 19.3896L14.1437 13.5627C15.4057 12.0767 16.1937 10.2066 16.1937 8.19367C16.1937 3.67367 12.5207 0.000661545 8.00068 0.000661545C3.48068 0.000661545 -0.192329 3.67367 -0.192329 8.19367C-0.192329 12.7137 3.48068 16.3867 8.00068 16.3867C10.0137 16.3867 11.8837 15.5987 13.3697 14.3337L19.1967 20.1606C19.3937 20.3566 19.6467 20.4546 19.8657 20.4546C20.0847 20.4546 20.3377 20.3566 20.5327 20.1606C20.9217 19.7727 20.9217 19.1386 20.5327 18.7497L19.9707 19.3896ZM8.00068 3.46666C11.0107 3.46666 13.5267 5.98267 13.5267 8.99367C13.5267 12.0037 11.0107 14.5197 8.00068 14.5197C4.99068 14.5197 2.47468 12.0037 2.47468 8.99367C2.47468 5.98267 4.99068 3.46666 8.00068 3.46666Z"/>
                        </svg>
                    </button>
                </div>
                <a href="https://github.com/goooseman/devsparks-blog/issues/new?title=DevSparks+Feedback&body=I+found+something+wrong+on+this+page%3A%0A%0A++{{ .Title }}%0A%0A++Here%27s+what+it+is%3A" target="_blank" class="ml-4">
                    <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-1 px-3 border border-gray-400 rounded shadow">
                        Fix typo
                    </button>
                </a>
                <button id="theme-toggle" class="ml-4">
                    Toggle Theme
                </button>
            </div>
        </nav>
    </header>
    {{ end }}

    {{ define "footer" }}
    <footer class="bg-gray-200 p-4 flex flex-col items-center">
        <img src="/images/author_placeholder.png" alt="Author Image Placeholder" class="rounded-full h-40 w-40 mb-4">
        <p>Hello, I'm Alex.</p>
        <p class="text-center">Welcome to DevSparks, a cosy corner of the web where code meets fun. I've always believed that the best way to learn is by doing, and the best way to do is by having fun. That's why I've created DevSparks - to share the joy and the power of development with you.</p>
        <p class="text-center">Here, you'll find bite-sized lifehacks about everything from CLI power usage to git tricks, all crafted with a dash of humor and a bucketload of passion.</p>
        <p class="text-center">So grab a cup of coffee, get comfy, and let's explore the incredible world of coding together!</p>
    </footer>
    {{ end }}

    <main class="bg-white">
        <div class="max-w-screen-lg mx-auto px-4 py-8">
            <h1 class="text-xl mb-4">Hacks</h1>
            <ul>
                <li>
                    <a href="/2022/sample-hack/">Sample Hack</a> <span class="text-sm">(2022)</span>
                </li>
            </ul>
        </div>
    </main>

    <script src="/js/theme.js"></script>
    
</body>
</html>