
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
  --border-width: 2px;
  --light-background-color: #ffc000;
  --light-text-color: #40414e;
  --light-border-color: #40414e;
  --dark-background-color: #40414e;
  --dark-text-color: #ffc000;
  --dark-border-color: #ffc000;
}

body {
  margin: 0;
  font-family: 'Fira Code', monospace;
}

a {
  color: var(--light-text-color);
  text-decoration: none;
  border-bottom: var(--border-width) solid var(--light-text-color);
  transition: background-color 0.3s, color 0.3s;
}

a:hover {
  background-color: var(--light-text-color);
  color: var(--light-background-color);
  background-image: linear-gradient(to top, var(--light-background-color), var(--light-background-color));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 200%;
}

.layout__header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.header__theme_switch {
  background-color: transparent;
  border: var(--border-width) solid;
  width: 20px;
  height: 20px;
  text-align: center;
}

.layout__container {
  width: 600px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.layout__link__active {
  border: var(--border-width) solid;
}

.section__tip__hackerman,
.section__tip__padawan {
  position: relative;
}

.tip__container {
  position: relative;
  margin-top: 25px;
  margin-bottom: 5px;
  border: var(--border-width) solid var(--light-border-color);
  padding: 20px;
  margin-top: 300px;
  margin-left: -20px;
  margin-right: -20px;
}

.tip__image {
  position: absolute;
  bottom: 100%;
  left: 20%;
  height: 280px;
}

.tip__image.dark-theme {
  filter: invert(100%);
}

.article__content h3 {
  padding-top: 5px;
  border-top: 1px solid currentColor;
}

.footer__about_text {
  border: var(--border-width) solid var(--light-border-color);
}

.footer__author-photo {
  display: block;
  margin: 0 auto;
}

@media (max-width: 680px) {
  .layout__container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  body {
    overflow-x: hidden;
  }

  .footer__author-photo {
    display: block;
    margin: 0 auto;
  }
}

