@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
  font-family: 'Fira Code', monospace;
  background-color: var(--background-color);
  color: var(--text-color);
  max-width: 600px;
  margin: 0 auto;
  padding: 0 24px;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid var(--border-color);
}

a:hover {
  background-image: linear-gradient(to top, var(--text-color), var(--text-color));
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: var(--background-color);
  transition: background-size 0.3s;
}

.layout__header {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}

.header__theme_switch {
  background: transparent;
  border: 2px solid var(--border-color);
  width: 22px;
  height: 22px;
  text-align: center;
  padding: 0;
  cursor: pointer;
}

.layout__link__active {
  border: 2px solid var(--border-color);
}

.tip__container {
  position: relative;
  margin-top: 300px;
  margin-bottom: 8px;
  margin-left: -24px;
  margin-right: -24px;
  padding: 24px;
  border: 2px solid var(--border-color);
}

.tip__title {
  font-style: italic;
  font-weight: bold;
}

.tip__image {
  position: absolute;
  bottom: 100%;
  left: 20%;
  height: 280px;
}

.article__content h3 {
  padding-top: 8px;
  border-top: 1px solid var(--border-color);
}

.article__remark42 {
  margin-left: -24px;
  margin-right: -24px;
  margin-top: 12px;
}

.footer__about_text {
  border: 2px solid var(--border-color);
  padding: 12px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__author-photo {
  height: 160px;
}

@media (min-width: 680px) {
  .footer__container {
    flex-direction: row;
  }
}