code {
  background-color: var(--text-color);
  color: var(--background-color);
  border: none;
  padding: 0;
}

.highlight > pre {
  background-color: var(--background-color);
  color: white;
  padding: 12px;
  border: none;
}

.highlight > pre > code {
  background-color: transparent;
  color: white;
  border: none;
  padding: 0;
}