body.body__theme__dark {
  --background-color: #303446;
  --text-color: #c6d0f5;
  --border-color: #51576d;
  background-color: #303446;
  color: #c6d0f5;
}

body.body__theme__dark a {
  border-bottom: 2px solid var(--border-color);
}

body.body__theme__dark a:hover {
  background-color: var(--border-color);
}

body.body__theme__dark .header__theme_switch {
  border: 2px solid var(--border-color);
}

body.body__theme__dark .layout__link__active {
  border: 2px solid var(--border-color);
}

body.body__theme__dark .tip__container {
  border: 2px solid var(--border-color);
}

body.body__theme__dark .footer__about_text {
  border: 2px solid var(--border-color);
  border-bottom: 0;
}

body.body__theme__dark .article__content h3 {
  border-top: 1px solid var(--border-color);
  padding-top: 8px;
}
