:root {
  --background-color: #40414e;
  --text-color: #ffc000;
  --border-color: #ffc000;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.layout__header nav a {
  color: var(--text-color);
  border-bottom: 2px solid var(--text-color);
}

.layout__header nav a:hover {
  color: var(--background-color);
  background-color: var(--text-color);
  background-image: linear-gradient(to top, var(--text-color), var(--background-color));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 200%;
}

.layout__link__active {
  border: 2px solid;
}

.footer__about_text {
  border: var(--border-color) solid;
}

.tip__container {
  border: var(--border-color) solid;
}

.header__theme_switch {
  background: transparent;
  border: 2px solid;
}

@media (max-width: 680px) {
  body {
    width: 100%;
    padding: 20px;
  }
}

.footer__container {
  display: flex;
}

.footer__author-photo {
  height: 160px;
}