@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

:root {
  --amber: #ffc000;
  --graphite: #2c3e50;
}

body {
  font-family: 'Fira Code', monospace;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.light-theme {
  background-color: var(--amber);
  color: var(--graphite);
}

.dark-theme {
  background-color: var(--graphite);
  color: var(--amber);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-active,
a:hover {
  text-decoration: underline;
}

.search {
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid transparent;
}

.search:focus,
.search:hover {
  border-bottom-color: currentColor;
}

main {
  background-color: inherit;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
}

footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.author-photo {
  width: 200px;
  height: 200px;
  background-image: url('http://placekitten.com/200/200');
  background-size: cover;
  background-position: center;
}

.about-text {
  border: 1px solid currentColor;
  padding: 10px;
  margin: 20px;
}

@media screen and (min-width: 680px) {
  .container {
    padding: 0;
  }

  footer {
    justify-content: space-between;
    text-align: left;
  }

  .author-photo {
    margin-right: 20px;
  }
}

.hackerman-tip,
.padawan-playground {
  position: relative;
  border: 1px solid currentColor;
  margin-top: 25px;
  margin-bottom: 5px;
  padding: 10px;
}

.hackerman-tip::before,
.padawan-playground::before {
  content: '';
  position: absolute;
  left: 20%;
  top: 0;
  width: 20px;
  height: 20px;
}

.light-theme .hackerman-tip::before {
  background-image: url('http://placekitten.com/20/20');
}

.dark-theme .hackerman-tip::before {
  background-image: url('http://placekitten.com/21/21');
}

.light-theme .padawan-playground::before {
  background-image: url('http://placekitten.com/20/20');
}

.dark-theme .padawan-playground::before {
  background-image: url('http://placekitten.com/21/21');
}

.hackerman-tip h3,
.padawan-playground h3 {
  font-style: italic;
}