@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

/* Global styles */
body {
  font-family: 'Fira Code', monospace;
  margin: 0;
}

a {
  text-decoration: none;
  border-bottom: 2px solid;
}

a:hover {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
}

input:focus,
input:hover {
  border: 2px solid;
}

input::placeholder {
  color: inherit;
}

.layout__container {
  max-width: 600px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.layout__header {
  display: flex;
  justify-content: space-between;
}

.header__theme_switch {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid;
  text-align: center;
  cursor: pointer;
}

.layout__link__active {
  border: 2px solid;
}

.tip__container {
  position: relative;
  border: 2px solid;
  margin-top: 25px;
  margin-bottom: 5px;
}

.tip__title {
  font-style: italic;
}

.tip__image {
  position: absolute;
  top: 0;
  left: 20%;
}

/* Breakpoints */
@media screen and (min-width: 680px) {
  .layout__container {
    padding-left: 0;
    padding-right: 0;
  }
}