body.dark-theme {
  background-color: #40414e;
  color: #ffc000;
}

.dark-theme a {
  color: #ffc000;
  text-decoration: none;
  border-bottom: 2px solid #ffc000;
}

.dark-theme a:hover {
  color: #ffc000;
}

.dark-theme .layout__link__active {
  border: 2px solid #ffc000;
}

.dark-theme input {
  background-color: #40414e;
  color: #ffc000;
  border: none;
  border-bottom: 2px solid #ffc000;
}

.dark-theme input:focus,
.dark-theme input:hover {
  border: 2px solid #ffc000;
}

.dark-theme input::placeholder {
  color: #ffc000;
}

.dark-theme .header__theme_switch {
  border: 2px solid #ffc000;
}

.dark-theme .tip__container {
  border: 2px solid #ffc000;
}