<header class="layout__header">
    <div class="layout__container">
        <nav>
            <a class="layout__link {{ if .IsHome }}layout__link__active{{ end }}" href="/">Hacks</a>
            <a class="layout__link {{ if .IsPage "about.md" }}layout__link__active{{ end }}" href="/about">About</a>
            <a class="layout__link" href="https://github.com/goooseman/devsparks-blog">GitHub</a>
            <a class="layout__link" href="https://github.com/goooseman/devsparks-blog/issues/new?title=DevSparks+Feedback&body=I+found+something+wrong+on+this+page%3A%0A%0A++{{ .Permalink }}%0A%0A++Here%27s+what+it+is%3A" target="_blank" rel="noopener noreferrer">Fix typo</a>
            <button id="theme-switch" class="header__theme_switch" aria-label="{{ if eq .Site.Params.theme "dark" }}Switch to light theme{{ else }}Switch to dark theme{{ end }}">
                {{ if eq .Site.Params.theme "dark" }}🌞{{ else }}🌒{{ end }}
            </button>
        </nav>
    </div>
</header>