<header class="layout__header">
  <div class="layout__container">
    <div class="layout__header_left">
      <a href="/" class="layout__link__active">Hacks</a>
      <a href="/about">About</a>
      <a href="https://github.com/goooseman/devsparks-blog" target="_blank" rel="noopener noreferrer">GitHub</a>
      <a href="https://github.com/goooseman/devsparks-blog/issues/new?title=DevSparks+Feedback&body=I+found+something+wrong+on+this+page%3A%0A%0A++{CURRENT_PAGE}%0A%0A++Here%27s+what+it+is%3A" target="_blank" rel="noopener noreferrer">Fix typo</a>
    </div>
    <div class="layout__header_right">
      <button id="theme-switch" class="header__theme_switch" aria-label="Switch to light theme">🌒</button>
    </div>
  </div>
</header>