<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/syntax-highlighting.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/theme-light.css" | relURL }}" id="theme-light" disabled>
    <link rel="stylesheet" href="{{ "css/theme-dark.css" | relURL }}" id="theme-dark" disabled>
    <script src="{{ "js/theme-switcher.js" | relURL }}" defer></script>
</head>
<body class="body__theme__light">
    <header class="layout__header">
        <div>
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                <a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} layout__link__active{{end}}" href="{{.URL}}">{{ .Name }}</a>
            {{ end }}
        </div>
        <div>
            <a href="https://github.com/goooseman/devsparks-blog">GitHub</a>
            <a href="https://github.com/goooseman/devsparks-blog/issues/new?title=DevSparks+Feedback&body=I+found+something+wrong+on+this+page%3A%0A%0A++{{ .Permalink }}%0A%0A++Here%27s+what+it+is%3A">Fix typo</a>
            <button id="theme-switch" class="header__theme_switch" aria-label="Switch to dark theme">🌞</button>
        </div>
    </header>
    <main>
        {{ block "main" . }}{{ end }}
    </main>
    <footer>
        <div>
            <img src="/human.png" srcset="/human.png 1x, /human@2x.png 2x" alt="Author Photo" class="footer__author-photo">
        </div>
        <div>
            <p class="footer__about_text">Footer Ipsum</p>
        </div>
    </footer>
    <script src="{{ "js/footer-image.js" | relURL }}"></script>
    <div id="remark42"></div>
    {{ block "scripts" . }}{{ end }}
</body>
</html>