<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap">
  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}?v=2">
  <link rel="stylesheet" href="{{ "css/syntax-highlighting.css" | relURL }}">
  <link rel="stylesheet" href="{{ "css/theme-light.css" | relURL }}">
  <link rel="stylesheet" href="{{ "css/theme-dark.css" | relURL }}">
  <link rel="stylesheet" href="{{ "lightbox/lightbox.css" | relURL }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="theme-color" content="#E0F2F1">
  <meta name="msapplication-TileColor" content="#E0F2F1">
  <link rel="alternate" type="application/rss+xml" title="DevSparks RSS" href="/index.xml" />
  {{ if isset $.Params "title" }}
  <meta property="og:title" content="{{ .Params.Title }}">
  <meta property="twitter:title" content="{{ .Params.Title }}">
  {{ end }}
  {{ if isset $.Params "image" }}
  <meta property="og:image" content="{{ .Params.image | absURL }}">
  <meta property="twitter:image" content="{{ .Params.image | absURL }}">
  <meta name="twitter:card" content="summary_large_image">
  {{ end }}
  {{ if isset $.Params "description" }}
  <meta name="description" content="{{ .Params.description }}">
  <meta property="og:description" content="{{ .Params.description }}">
  <meta property="twitter:description" content="{{ .Params.description }}">
  {{ end }}
  {{ if isset $.Params "date" }}
  <meta property="og:updated_time" content="{{ .Date.Format " 2006-01-02T15:04:05-07:00" | safeHTML }}" />
  {{ end }}
  <meta property="og:locale" content="en" />
  <meta property="og:site_name" content="DevSparks Blog" />
  <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
</head>
<body class="body__theme__light">
  <header class="layout__header">
    <nav>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <a class="{{if or (eq $currentPage.RelPermalink .URL) (eq $currentPage.Section .Identifier) }} layout__link__active{{end}}" href="{{.URL}}"  target='{{ if in .URL "https://" }}_blank{{ else }}_self{{ end }}'>{{ .Name }}{{ .Post }}</a>
      {{ end }}
    </nav>
    <nav class="layout__header-right">
      <a href="https://github.com/goooseman/devsparks-blog/issues/new?title=DevSparks+Feedback&body=I+found+something+wrong+on+this+page%3A%0A%0A++{{ .Permalink }}%0A%0A++Here%27s+what+it+is%3A" target="_blank">Fix typo</a>
      <button id="theme-switch" class="header__theme_switch" aria-label="Switch theme" onclick="themeSwitcher()"></button>
    </nav>
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer class="layout__footer">
    <div class="footer__container">
      <img id="footer-image-human" src="/human.webp" srcset="/human@2x.webp 2x" alt="Author photo" onmouseover="footerImageHover(true)">
      <img id="footer-image-robot" src="/robot.webp" srcset="/robot@2x.webp 2x" alt="Author photo" onmouseover="footerImageHover(false)" style="display: none;">
      <div class="footer__about_text">
        Hello, I'm Alex.<br />
        Welcome to DevSparks, a cosy corner of the web where code meets fun. I've always believed that the best way to learn is
        by doing, and the best way to do is by having fun. That's why I've created DevSparks - to share the joy and the power of
        development with you.<br />
        Here, you'll find bite-sized lifehacks about everything from CLI power usage to git tricks, all crafted with a dash of
        humor and a bucketload of passion.<br />
        So grab a cup of coffee, get comfy, and let's explore the incredible world of coding together!
      </div>
    </div>
  </footer>
  <script src="{{ "js/theme.js" | relURL }}"></script>
  <script src="{{ "js/footer-image.js" | relURL }}" defer></script>
  <script src="{{ "lightbox/lightbox.js" | relURL }}" defer></script>
  <script data-goatcounter="https://gc.goooseman.dev/count" async src="/c.js"></script>
</body>
</html>